header{
  color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  background: url("../images/logo.png") no-repeat;
}
/*
header .logo {
	    left: 20px;
	    height: 100%;
	    }
*/