.filters{
  text-align: 30%;
}
.locations, 
.amenities{
      height: 100%;
      width: 25%;
      color: black;
      margin-left: 30px; /* Move the text 20 pixels to the right */
  }
  .locations{
    border-right: 1px solid #DDDDDD;
  }
  .amenities{
    margin-right: auto;
  }
  .locations h4{
    font-weight: 600;
    margin-bottom: 11px;
    position: relative; /* or absolute */
    bottom: 11px;
  }
  .amenities h4{
    font-weight: 600;
    margin-bottom: 11px;
    position: relative; /* or absolute */
    bottom: 11px;
  }